libraryApplication/RetailApplication/ClientApplication/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Commodity">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idNum" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="typeReference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commodity" nillable="true" type="tns:Commodity" />
  <xs:complexType name="ArrayOfLaptop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Laptop" nillable="true" type="tns:Laptop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaptop" nillable="true" type="tns:ArrayOfLaptop" />
  <xs:complexType name="Laptop">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Commodity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Laptop" nillable="true" type="tns:Laptop" />
</xs:schema>