libraryApplication/ClientApplication/Connected Services/ServiceReference4/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49394/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49394/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49394/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RetailApplication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByAuthor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByKeyword" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookByKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByKeywordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BorrowBook_InputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBook" />
  </wsdl:message>
  <wsdl:message name="IService1_BorrowBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:BorrowBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookByTitle" message="tns:IService1_GetBookByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookByTitleResponse" message="tns:IService1_GetBookByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookByAuthor" message="tns:IService1_GetBookByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookByAuthorResponse" message="tns:IService1_GetBookByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookByKeyword" message="tns:IService1_GetBookByKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookByKeywordResponse" message="tns:IService1_GetBookByKeyword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBook" message="tns:IService1_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBookResponse" message="tns:IService1_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBook" message="tns:IService1_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookResponse" message="tns:IService1_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginStatus" message="tns:IService1_GetLoginStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginStatusResponse" message="tns:IService1_GetLoginStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BorrowBook" message="tns:IService1_BorrowBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BorrowBookResponse" message="tns:IService1_BorrowBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReturnBook" message="tns:IService1_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReturnBookResponse" message="tns:IService1_ReturnBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendEmail" message="tns:IService1_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendEmailResponse" message="tns:IService1_SendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByAuthor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByKeyword">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrowBook">
      <soap:operation soapAction="http://tempuri.org/IService1/BorrowBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/IService1/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49394/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>