libraryApplication/ClientApplication/Connected Services/ServiceReference4/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RetailApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RetailApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfBooks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Books" nillable="true" type="tns:Books" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooks" nillable="true" type="tns:ArrayOfBooks" />
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="book_id" type="xs:int" />
      <xs:element minOccurs="0" name="classification_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="press" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pub_year" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Books" nillable="true" type="tns:Books" />
</xs:schema>